a {
    color: var(--secondary-color);
    text-decoration: none;
    text-decoration-color: var(--primary-color);
}

a:hover {
    color: grey;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    text-decoration-color: rgb(181, 181, 181);
}


/* TRANSITION */

a {
    transition: all 300ms ease;
}

#socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}